#impress div {
  font-size: 36px;
  color: #000;
}
h1,h2,h3,h4 {
  font-family: Arial, sans-serif;
}
#title h1 { font-size: 3.0em; text-align: center; }
#impress .break h1 { font-size: 3.0em; text-align: center; }
h1 { font-size: 2.5em; font-weight: bold; }
h2 { font-size: 1.8em; font-weight: bold; text-shadow: 2px 2px 0px #888; }
h3 { font-size: 1.2em; font-weight: bold; color: #334;}
h4 { font-size: 1.0em; font-weight: bold; color: #009; }
h5 { font-size: 0.8em }
h6 { font-size: 0.6em }

#impress .step {
    width: 920px;
    padding: 30px;
}
#impress code,
#impress pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.78em;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#impress code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
#impress pre {
  display: block;
  padding: 8px;
  margin: 0 0 9px;
  line-height: 1.05;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
#impress pre.prettyprint {
  margin-bottom: 18px;
}
#impress pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.4;
}
#impress blockquote {
  padding: 3px;
  color: #333;
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.cite {
  text-align: right;
  font-style: italic;
}

